*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}
main{
    width: 100%;
    display: inline-block;
}
.checkbox{
    display:flex;
}
.checkboxes legend{
    font-size: 17px;
}
.checkboxes{
    margin-top:20px;
    margin-left: 32vh;
}
.historico{
    width: 30vh;
    height: 7vh;
    font-size:3vh;
    background-color: rgb(255, 255, 255);
    border: 0.1px solid black;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 2vh;
    transition: 0.3s;
}
.historico:hover{
    transition: 0.3s ;
    background-color: grey;
}